html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
	code, form, fieldset, legend, input, button, textarea, p, blockquote,
	th, td {
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.xgalert {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	display: none;
	z-index: 10000 !important;
}

.xgalert.active {
	display: block;
}

.xgalert .modal-preview {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	filter: alpha(opacity = 50);
	/*z-index: 100000;使用这种方式实现ie8半透明用了position: fixed/absolute/relative;就不能使用z-index*/
}

.xgalert .modal-preview .modal {
	top: 50%;
	position: relative;
	margin-top: -114px;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	display: block;
	overflow: hidden;
}

.modal-preview .modal .modal-dialog {
	width: 90%;
	margin: 30px auto;
	position: relative;
}

.modal-content {
	-webkit-border-radius: 0;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 0;
	-moz-background-clip: padding;
	border-radius: 0;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
	color: #000;
	background-color: #fff;
	border: rgba(0, 0, 0, 0);
}

.modal-header {
	min-height: 16.43px;
	padding: 10px 15px 10px 20px;
	background-color: #1F8DE4;
}

.modal-primary .modal-header {
	border-bottom: 3px solid #4374e0;
}

.warning {
	color: #000 !important;
}

.close {
	float: right;
	font-size: 26px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
	font-family: inherit;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-family: inherit;
	font-weight: 500;
}

.modal-body {
	position: relative;
	padding: 15px;
}

p {
	line-height: 22px;
	margin: 0 0 10px;
}

.modal-footer {
	padding-top: 12px;
	padding-bottom: 14px;
	border-top: 0;
	background-color: #f5f5f5;
	padding: 15px;
	text-align: right;
}

.btn {
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	position: relative;
	display: inline-block;
	color: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
	-webkit-border-radius: 2px;
	-webkit-background-clip: padding-box;
	-moz-border-radius: 2px;
	-moz-background-clip: padding;
	border-radius: 2px;
	background-clip: padding-box;
	font-size: 13px;
	font-family: inherit;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	-webkit-appearance: button;
	color: #444;
	padding: 6px 12px;
}

.btn-primary, .btn-primary:focus {
	color: #000;
}

.btn-warning, .btn-warning:focus {
	color: #000;
}

.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px;
}