<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 先配置C3P0的连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql:///xuqiu"/>
		<property name="user" value="root"/>
		<property name="password" value="20153246"/>
	</bean>
	
	<!-- LocalSessionFactoryBean加载配置文件 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 先加载连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 加载方言，加载可选 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- 引入映射的配置文件 -->
		<property name="mappingResources">
			<list>
				<value>com/bean/Hangyebean.hbm.xml</value>
				<value>com/bean/Juesebean.hbm.xml</value>
				<value>com/bean/Tuihuibean.hbm.xml</value>
				<value>com/bean/Userbean.hbm.xml</value>
				<value>com/bean/Xuekebean.hbm.xml</value>
				<value>com/bean/Zhengjibean.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 先配置平台事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启事务的注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!--将配置action的任务交给Spring  -->
	<!--强调：配置action必须是多例的  -->
	<bean id="adminAction" class="com.admin.action.AdminAction" scope="prototype">
		<property name="adminservice" ref="adminservice"></property>
	</bean>
	<bean id="xuqiuAction" class="com.user.action.XuqiuAction" scope="prototype">
		<property name="xuqiuservice" ref="xuqiuservice"></property>
	</bean>
	<bean id="searchAction" class="com.admin.action.SearchAction" scope="prototype">
		<property name="searchservice" ref="searchservice"></property>
	</bean>
	<bean id="quanxianAction" class="com.user.action.QuanxianAction" scope="prototype">
		<property name="quanxianservice" ref="quanxianservice"></property>
	</bean>
	
	
	<!-- 配置service  -->
	<bean id="adminservice" class="com.admin.service.AdminserviceIpl">
		<property name="admindao" ref="admindao"></property>
	</bean>
	<bean id="xuqiuservice" class="com.admin.service.XuqiuserviceIpl">
		<property name="xuqiuDao" ref="xuqiuDao"></property>
	</bean>
	<bean id="searchservice" class="com.admin.service.SearchserviceIpl">
		<property name="searchdao" ref="searchdao"></property>
	</bean>
	<bean id="quanxianservice" class="com.user.service.QuanxianserviceIpl">
		<property name="quanxiandao" ref="quanxiandao"></property>
	</bean>
	
	
	<!-- 配置dao -->
	<bean id="admindao" class="com.admin.dao.AdmindaoIpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="xuqiuDao" class="com.admin.dao.XuqiudaoIpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="searchdao" class="com.admin.dao.SearchdaoIpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="quanxiandao" class="com.uer.dao.QuanxiandaoIpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>












